footer {
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 200px;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 0 24px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  gap: 15px;
}

.about {
  text-decoration: none;
  display: inline-block;
  padding: 8px 18px;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  border: 2px solid #38ecd4; 
  border-radius: 0; 
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  transform: skewX(-5deg); 
}