header {
  background-color: #000000;
  color: #fff;
  width: 100%;
  height: var(--header-height);
  position: static;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;


  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.header-link {
  text-decoration: none;
  display: inline-block;
  padding: 8px 18px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  border: 2px solid;
  border-radius: 0; 
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  transform: skewX(-5deg); 
}
.primary-punk-btn {
  color: #ffffff;
  background-color: transparent;
  border-color: #38ecd4;
}
.secondary-punk-btn {
  color: #ffffff; 
  background-color: transparent;
  border-color: #ffa7dd;
}

header img {
  max-height: calc(var(--header-height) + 87px);
  height: auto;
  width: auto;
  max-width: 125%;
  display: block;
  object-fit: contain;
}