/* === Base header (desktop) === */
header {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 250px;              
  display: flex;             
  align-items: flex-start; 
  margin-top: auto;      
  justify-content: space-between;
  padding: 0 48px;
  box-sizing: border-box;
}
header .logo {
  display: block;            
  height: 307px;              
  width: auto;
  object-fit: contain;
}

.buttons-container {
  display: flex;
  margin-top: auto;
  gap: 1.5rem;
  transform: translateY(-3px);
}

.header-link {
  color: #fff;
  padding: 8px 18px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  border: 2px solid;
  border-radius: 0;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
  transform: skewX(-5deg);
}

.primary-punk-btn {
  border-color: #38ecd4;
}

.secondary-punk-btn {
  border-color: #ffa7dd;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 12px;
    margin: 0;
  }

  header .logo {
  display: block;            
  height: 150px;              
  width: auto;
  object-fit: contain;
}

  .buttons-container {
    margin-top: 6px;
    gap: 0.5rem;
  }
}